@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap");

:root {
  --fontFamily: "Moderustic", sans-serif;
  --bRadius: 8px;
  --mainFontColor: #1d1d1d;
  --baseFg: #f2f2f3;
  --baseBg: white;
  --accentFg: #006fc2;
  --accentBg: #bae1ff;
}

.react-classic-wysiwyg-editor-toolbar-main-container {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 10px;
  /* box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.0588235294); */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
