.react-classic-wysiwyg-editor-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: var(--mainFontColor);
  border-radius: var(--bRadius);
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

.react-classic-wysiwyg-editor-button:hover {
  background-color: var(--baseFg);
}

.react-classic-wysiwyg-editor-button:focus,
.react-classic-wysiwyg-editor-button:focus-visible {
  background-color: var(--baseFg);
}
